@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;
  --background: hsl(48 100% 97%);
  --foreground: hsl(0 3% 6%);
  --card: hsl(48 100% 97%);
  --card-foreground: hsl(0 3% 6%);
  --popover: hsl(48 100% 97%);
  --popover-foreground: hsl(0 3% 6%);
  --primary: hsl(0 3% 6%);
  --primary-foreground: hsl(48 100% 97%);
  --secondary: hsl(51 33% 92%);
  --secondary-foreground: hsl(0 3% 6%);
  --muted: hsl(51 33% 92%);
  --muted-foreground: hsl(50 3% 42%);
  --accent: hsl(51 33% 92%);
  --accent-foreground: hsl(0 3% 6%);
  --destructive: hsl(3 62% 42%);
  --destructive-foreground: hsl(48 100% 97%);
  --border: hsl(51 21% 88%);
  --input: hsl(51 21% 88%);
  --ring: hsl(55 10% 79%);
  --chart-1: hsl(212 68% 39%);
  --chart-2: hsl(175 57% 33%);
  --chart-3: hsl(73 84% 27%);
  --chart-4: hsl(22 80% 41%);
  --chart-5: hsl(3 62% 42%);
  --sidebar: hsl(48 100% 97%);
  --sidebar-foreground: hsl(0 3% 6%);
  --sidebar-primary: hsl(0 3% 6%);
  --sidebar-primary-foreground: 48 100% 97%;
  --sidebar-accent: hsl(51 33% 92%);
  --sidebar-accent-foreground: hsl(0 3% 6%);
  --sidebar-border: hsl(51 21% 88%);
  --sidebar-ring: hsl(55 10% 79%);
  --red-primary: hsl(3 62% 42%);
  --red-secondary: hsl(5 61% 54%);
  --orange-primary: hsl(22 80% 41%);
  --orange-secondary: hsl(23 70% 51%);
  --yellow-primary: hsl(45 99% 34%);
  --yellow-secondary: hsl(45 82% 45%);
  --green-primary: hsl(73 84% 27%);
  --green-secondary: hsl(72 46% 41%);
  --cyan-primary: hsl(175 57% 33%);
  --cyan-secondary: hsl(175 49% 45%);
  --blue-primary: hsl(212 68% 39%);
  --blue-secondary: hsl(208 49% 50%);
  --purple-primary: hsl(259 42% 43%);
  --purple-secondary: hsl(251 40% 64%);
  --magenta-primary: hsl(326 55% 41%);
  --magenta-secondary: hsl(329 54% 59%);
}

.dark {
  --background: hsl(0 3% 6%);
  --foreground: hsl(55 10% 79%);
  --card: hsl(0 3% 6%);
  --card-foreground: hsl(55 10% 79%);
  --popover: hsl(0 3% 6%);
  --popover-foreground: hsl(55 10% 79%);
  --primary: hsl(55 10% 79%);
  --primary-foreground: hsl(0 3% 6%);
  --secondary: hsl(30 4% 11%);
  --secondary-foreground: hsl(55 10% 79%);
  --muted: hsl(30 4% 11%);
  --muted-foreground: hsl(43 3% 52%);
  --accent: hsl(30 4% 11%);
  --accent-foreground: hsl(55 10% 79%);
  --destructive: hsl(5 61% 54%);
  --destructive-foreground: hsl(0 3% 6%);
  --border: hsl(30 3% 15%);
  --input: hsl(30 3% 15%);
  --ring: hsl(30 3% 24%);
  --chart-1: hsl(208 49% 50%);
  --chart-2: hsl(175 49% 45%);
  --chart-3: hsl(72 46% 41%);
  --chart-4: hsl(23 70% 51%);
  --chart-5: hsl(5 61% 54%);
  --sidebar: hsl(0 3% 6%);
  --sidebar-foreground: hsl(55 10% 79%);
  --sidebar-primary: hsl(251 40% 64%);
  --sidebar-primary-foreground: hsl(55 10% 79%);
  --sidebar-accent: hsl(30 4% 11%);
  --sidebar-accent-foreground: hsl(55 10% 79%);
  --sidebar-border: hsl(30 3% 15%);
  --sidebar-ring: hsl(30 3% 24%);
  --red-primary: hsl(5 61% 54%);
  --red-secondary: hsl(3 62% 42%);
  --orange-primary: hsl(23 70% 51%);
  --orange-secondary: hsl(22 80% 41%);
  --yellow-primary: hsl(45 82% 45%);
  --yellow-secondary: hsl(45 99% 34%);
  --green-primary: hsl(72 46% 41%);
  --green-secondary: hsl(73 84% 27%);
  --cyan-primary: hsl(175 49% 45%);
  --cyan-secondary: hsl(175 57% 33%);
  --blue-primary: hsl(208 49% 50%);
  --blue-secondary: hsl(212 68% 39%);
  --purple-primary: hsl(251 40% 64%);
  --purple-secondary: hsl(259 42% 43%);
  --magenta-primary: hsl(329 54% 59%);
  --magenta-secondary: hsl(326 55% 41%);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
